<!DOCTYPE html>
<html lang="en" data-theme="black">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="../data/icons.js" defer></script>
    <title>Flycon</title>
  </head>
  <body>

    <nav class="fixed navbar px-16 py-4 z-10 bg-transparent" style="border-bottom: 1px solid rgba(255,255,255,0.2) !important; backdrop-filter: blur(32px)">
      <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">
          <svg height="24" viewBox="0 0 31 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.15039 3.29297V9H0.832031V3.29297H2.15039ZM0.632812 0.919922C0.632812 0.689453 0.716797 0.490234 0.884766 0.322266C1.05273 0.154297 1.25391 0.0703125 1.48828 0.0703125C1.72656 0.0703125 1.92969 0.154297 2.09766 0.322266C2.26562 0.486328 2.34961 0.6875 2.34961 0.925781C2.34961 1.16406 2.26562 1.36719 2.09766 1.53516C1.93359 1.70312 1.73242 1.78711 1.49414 1.78711C1.25586 1.78711 1.05273 1.70312 0.884766 1.53516C0.716797 1.36719 0.632812 1.16211 0.632812 0.919922ZM8.26172 3.53906V5.29102C7.96094 4.92383 7.69141 4.67188 7.45312 4.53516C7.21875 4.39453 6.94336 4.32422 6.62695 4.32422C6.13086 4.32422 5.71875 4.49805 5.39062 4.8457C5.0625 5.19336 4.89844 5.62891 4.89844 6.15234C4.89844 6.6875 5.05664 7.12695 5.37305 7.4707C5.69336 7.81445 6.10156 7.98633 6.59766 7.98633C6.91406 7.98633 7.19336 7.91797 7.43555 7.78125C7.66992 7.64844 7.94531 7.39062 8.26172 7.00781V8.74805C7.72656 9.02539 7.19141 9.16406 6.65625 9.16406C5.77344 9.16406 5.03516 8.87891 4.44141 8.30859C3.84766 7.73438 3.55078 7.02148 3.55078 6.16992C3.55078 5.31836 3.85156 4.59961 4.45312 4.01367C5.05469 3.42773 5.79297 3.13477 6.66797 3.13477C7.23047 3.13477 7.76172 3.26953 8.26172 3.53906ZM9.26953 6.10547C9.26953 5.28125 9.56445 4.58008 10.1543 4.00195C10.7441 3.42383 11.4629 3.13477 12.3105 3.13477C13.1621 3.13477 13.8848 3.42578 14.4785 4.00781C15.0645 4.58984 15.3574 5.30469 15.3574 6.15234C15.3574 7.00781 15.0625 7.72461 14.4727 8.30273C13.8789 8.87695 13.1504 9.16406 12.2871 9.16406C11.4316 9.16406 10.7148 8.87109 10.1367 8.28516C9.55859 7.70703 9.26953 6.98047 9.26953 6.10547ZM10.6172 6.12891C10.6172 6.69922 10.7695 7.15039 11.0742 7.48242C11.3867 7.81836 11.7988 7.98633 12.3105 7.98633C12.8262 7.98633 13.2383 7.82031 13.5469 7.48828C13.8555 7.15625 14.0098 6.71289 14.0098 6.1582C14.0098 5.60352 13.8555 5.16016 13.5469 4.82812C13.2344 4.49219 12.8223 4.32422 12.3105 4.32422C11.8066 4.32422 11.3984 4.49219 11.0859 4.82812C10.7734 5.16406 10.6172 5.59766 10.6172 6.12891ZM16.7578 3.29297H18.082V3.82031C18.543 3.36328 19.0625 3.13477 19.6406 3.13477C20.3047 3.13477 20.8223 3.34375 21.1934 3.76172C21.5137 4.11719 21.6738 4.69727 21.6738 5.50195V9H20.3496V5.8125C20.3496 5.25 20.2715 4.86133 20.1152 4.64648C19.9629 4.42773 19.6855 4.31836 19.2832 4.31836C18.8457 4.31836 18.5352 4.46289 18.3516 4.75195C18.1719 5.03711 18.082 5.53516 18.082 6.24609V9H16.7578V3.29297ZM24.6621 3.29297V9H23.3438V3.29297H24.6621ZM23.1445 0.919922C23.1445 0.689453 23.2285 0.490234 23.3965 0.322266C23.5645 0.154297 23.7656 0.0703125 24 0.0703125C24.2383 0.0703125 24.4414 0.154297 24.6094 0.322266C24.7773 0.486328 24.8613 0.6875 24.8613 0.925781C24.8613 1.16406 24.7773 1.36719 24.6094 1.53516C24.4453 1.70312 24.2441 1.78711 24.0059 1.78711C23.7676 1.78711 23.5645 1.70312 23.3965 1.53516C23.2285 1.36719 23.1445 1.16211 23.1445 0.919922ZM30.7734 3.53906V5.29102C30.4727 4.92383 30.2031 4.67188 29.9648 4.53516C29.7305 4.39453 29.4551 4.32422 29.1387 4.32422C28.6426 4.32422 28.2305 4.49805 27.9023 4.8457C27.5742 5.19336 27.4102 5.62891 27.4102 6.15234C27.4102 6.6875 27.5684 7.12695 27.8848 7.4707C28.2051 7.81445 28.6133 7.98633 29.1094 7.98633C29.4258 7.98633 29.7051 7.91797 29.9473 7.78125C30.1816 7.64844 30.457 7.39062 30.7734 7.00781V8.74805C30.2383 9.02539 29.7031 9.16406 29.168 9.16406C28.2852 9.16406 27.5469 8.87891 26.9531 8.30859C26.3594 7.73438 26.0625 7.02148 26.0625 6.16992C26.0625 5.31836 26.3633 4.59961 26.9648 4.01367C27.5664 3.42773 28.3047 3.13477 29.1797 3.13477C29.7422 3.13477 30.2734 3.26953 30.7734 3.53906Z" fill="white"/>
            </svg>

        </a>
      </div>
      <div class="navbar-center" style="width: 50%">
        <input type="text" placeholder="search icons" class="input input-bordered input-lg w-full bg-transparent" />
      </div>
      <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal p-0">
          <li><a href="https://github.com/trentbrew/flycon">GitHub</a></li>
          <li><a href="/api/icons">API</a></li>
        </ul>
      </div>
    </nav>

      <main class="w-full p-16">
        <ul class="w-full grid grid-cols-5 gap-4 mt-24">
          <% Object.entries(icons).sort().forEach(icon => { %>
            <li class="aspect-square p-6 border border-opacity-20 flex justify-between items-center cursor-pointer hover:bg-base-100 group rounded-2">
              <div class="left flex items-center gap-5">
                <span><%- icon[1] %></span>
                <span class="opacity-50"><%= icon[0] %></span>
              </div>
              <div class="right opacity-0 group-hover:opacity-100">
                <a href="/api/icons/<%= icon[0] %>"><%- icons['open'] %></a>
              </div>
            </li>
          <% }) %>
        </ul>
      </main>
    </div>
  </body>
</html>
